<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" routerDirection="back">
        <ion-icon slot="start" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToSections()">
        <ion-icon *ngIf="selectedSection !== null" name="chevron-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="centered-title">
      <ng-container *ngIf="selectedCustomer === null && selectedSite === null">Select Client</ng-container>
      <ng-container *ngIf="selectedCustomer !== null && selectedSite === null">Select Site</ng-container>
      <ng-container *ngIf="selectedCustomer !== null && selectedSite !== null">Capture Survey</ng-container>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Show clients if no client is selected -->
  <ng-container *ngIf="selectedCustomer === null">
    <ion-list>
      <ion-item *ngFor="let client of clients" (click)="selectClient(client)">
        <ion-label>{{ client.customerName }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <!-- Show sites if a client is selected but no site is selected -->
  <ng-container *ngIf="selectedCustomer !== null && selectedSite === null">
    <ion-list>
      <ion-item *ngFor="let site of selectedCustomer.sites" (click)="selectSite(site)">
        <ion-label>{{ site.siteName }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="selectedCustomer = null">Back to Clients</ion-button>
  </ng-container>

  <ng-container *ngIf="selectedCustomer !== null && selectedSite !== null">
    <!-- Show selected client and site if both are selected -->
    <ng-container *ngIf="selectedSection === null">
      <ion-list>
        <ion-item *ngFor="let section of sections; let i = index" (click)="onSectionClick(section)">
          <ion-label>
            <h2>{{ section.name }}</h2>
            <p>
              Answered: {{ answeredQuestions(section) }}/{{ section.inspectionQuestions.length }}
            </p>
          </ion-label>
          <ion-icon slot="end" [name]="sectionCompleted(section) ? 'checkmark-circle' : 'close-circle'"
            [color]="sectionCompleted(section) ? 'success' : 'danger'"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-button [disabled]="uploading || !allSectionsCompleted()" (click)="completeSurvey()" expand="block">
        {{ uploading ? "Uploading" : "Complete" }}
      </ion-button>
    </ng-container>

    <ng-container *ngIf="selectedSection !== null">
      <ion-content>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ selectedSection.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <h2>{{ selectedCustomer.customerName }}</h2>
              <p>{{ selectedSite.siteName }}</p>
            </ion-label>
          </ion-card-content>
        </ion-card>
        <ion-card *ngFor="let question of selectedSection.inspectionQuestions; let i = index">
          <ion-card-header>
            <ion-card-title>{{ question.question }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-radio-group [(ngModel)]="question.answer">
                <ion-item lines="none" *ngFor="let choice of choices" (click)="selectAnswer(question, choice)">
                  <ion-label>{{ choice ? "Yes" : "No" }}</ion-label>
                  <ion-radio slot="start" [value]="choice"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Comments</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-textarea
                spellcheck="true"
                rows="5"
                [(ngModel)]="selectedSection.additionalComments"
                placeholder="Enter your comments here"
              ></ion-textarea>
              <ion-button slot="end" (click)="toggleRecording()">
                <ion-icon *ngIf="!isRecording" name="mic"></ion-icon>
                <ion-icon *ngIf="isRecording" name="stop"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12"></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" *ngFor="let photo of getSectionImage(selectedSection); let i = index">
                  <ion-thumbnail>
                    <img style="height: 100px" [src]="sanitizeImageUrl(photo.webviewPath)"
                     />
                  </ion-thumbnail>
                  <ion-icon name="close-circle" class="remove-image-icon" (click)="removeImage(selectedSection, i)">
                  </ion-icon>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-button (click)="goToSections()" expand="block">Back to Overview</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <br />
                  <br />
                  <br />
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-container>
  </ng-container>
</ion-content>

<ng-container>
  <ion-fab class="centered-fab" vertical="bottom" horizontal="center" edge slot="fixed">
    <ion-fab-button *ngIf="selectedSection !== null">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addComment()">
        <ion-icon name="chatbubble"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ng-container>
