<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="centered-title" >
      Vibing v7.9.6.8
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let card of cards">
        <ion-card (click)="onCardClick(card.id)">
          <ion-card-header>
            <ion-icon [name]="card.icon" size="large"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>{{ card.title }}</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
