.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
ion-content {
  --ion-background-color: #f0f0f0; // Light gray background
}

ion-grid {
  padding: 8px;
}

ion-card {
  background-color: #ffffff; // White background color
  border-radius: 8px; // Rounded corners
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 100%; // Full height of the ion-col
  color: #4caf50; // Green text color
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Add a subtle box-shadow
  transition: transform 0.2s; // Smooth hover effect
}

ion-card:hover {
  transform: translateY(-4px); // Slightly move the card up on hover
}

ion-icon {
  font-size: 4rem; // Increase icon size
  margin-bottom: 8px; // Add some space between the icon and the title
  color: #4caf50; // Green icon color
}

ion-card-title {
  font-size: 0.8rem; // Reduce the title font size
  color: #2e7d2f;
  font-weight: bold;
}
